*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth;
    font-family:'Dosis','Martels','Montserrat','Raleway','Bitter';
    letter-spacing: 3px;
}
:root{

    --color1: #000018;
    --color1opacity: #000018e9;
    --color2: #282d3f;
    --color3: #5b6289;
    --color4: #9f9ed8;
    --color5: #d8d8ed;
    --color6: #3173b1;

    /* --color1:#191D32;
    --color1opacity: #191d32db;
    --color2: #282F44;
    --color3: #5b6289;
    --color4: #93032E;
    --color5: #D295BF;
    --color6: #3173b1; */
}

header{
    width: 100%;
    height: 100vh;
}
.banner{
    width: 100%;
    height:100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

    /* background: -webkit-linear-gradient(to right, #0f2027b0, #203a4385, #2c536483); 
    background: linear-gradient(to right, #0f202793, #203a4396, #2c5364ab), url("../img/banner.png");  */
    background-image: url("../img/banner.png");
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover;
}
.banner .textos{
    width: 100%;
    text-align: center;
    margin: auto;
}
.banner h1{
    font-size: 4em;
    color: var(--color4);
}
.banner h2{
    font-size: 2em;
    color: var(--color3);
}
nav{
    width: 100%;
    height:auto;
    padding:20px;
    background-color:var(--color1);
    display: flex;
    justify-content: center;

}
nav a{
    color:var(--color3);
    padding: 0 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    transition: .5s;
}
nav a:hover{
    color:var(--color5);
    transition: .3s;
}
.card-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding: 100px 0;
}
.card-container .card{
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    background-image: var(--i);
    background-size: cover;
    background-position: center center;
}
.card .info{
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: .7s;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color1opacity);
}
/* .card .info h2{
    width: 100%;
    font-size:1.5;
     color:var(--color5);
} */
.card .info p{
    width: 90%;
    font-size: 1.3em;
    color: var(--color5);
}
.card .info a{
    /*width:100%;*/
    font-size: 1.3em;
    padding:5px 35px;
    color: var(--color6);
    border-radius: 20px;
    border: 2px solid var(--color4);
}
.card .info:hover{
    opacity: 1;
    transition: .7s;
}
footer{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    background-color: var(--color1);
}
.left{
    width: 50%;
    height: 100%;
    float: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.left img{
    margin:0 40px;
    width: 50px;
}
.right{
    width: 50%;
    height: 100%;
    float: 50%;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-top:2.5px solid #000018;
    background-color:#ffffff;
}
/* .right input::placeholder{
    font-size: 1.5em;
}
.right textarea::placeholder{
    font-size: 1.5em;
} */
.right .titulo{
    width: 100%;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color: var(--color1);
}
.right input{
    width: 80%;
    margin: 10px 30px;
    font-size: 1.2em;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom:3px solid var(--color2);
}
.right textarea{
    width: 80%;
    max-height:150px;
    font-size: 1.3em;
    margin: 10px 30px;
    padding: 0 10px;
    outline: none;
    border: none;
    border-bottom:3px solid var(--color2);
}
.right button{
    width: 150px;
    height: 35px;
    font-size: 1.3em;
    cursor:pointer;
    margin: 10px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.barra-copyright{
    width: 100%;
    height: auto;
    background-color: var(--color5);
    text-align: center;
}
.barra-copyright h2{
    font-size: 1em;
    color: var(--color1);
    padding: 10px;
}