*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family:'Martel Sans','Montserrat','Raleway','Bitter', serif, 'Dosis';
}
:root{

    /* copia de seguridad de los 1ros colores
     --color-primario: #101d18;
    --color-secundario:#8A6737; */

    --color-primario: #101d18;
    --color-secundario:#8A6737;
}
section{
    width: 100%;
    height: 100%;
    margin: 20px 0;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    width: 100%;
    height: 100%;
}
.banner{
    width: 100%;
    height:100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

   background: linear-gradient(to right, #2c3e5097, #bdc3c794),url("../img/castel.png")no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.banner h1{
    /* text-align: center; */
    color: var(--color-primario);
    font-size: 5em;
}
nav{
    width: 100%;
    height: auto;
    background-color:var(--color-primario);
    display: flex;
    justify-content: center;
}
nav a{
    padding: 10px 35px;
    text-decoration: none;
    color: wheat;
}
.segunda{
    margin:100px 0;
    padding: 100px 0 0;
}
.parrafo{
    width: 70%;
    height: auto;
    padding: 10px;
    margin: auto 100px;
}
.parrafo p{
    font-size: 2em;
    text-align: center;
}
.content-boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
}
.boton{
    background-color: var(--color-secundario);
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    color: aliceblue;
    transition: .5s;
}
.boton a{
    text-decoration: none;
    color: aliceblue;
}
.galeria{
    width:100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    justify-content: space-between;
}
.foto1 img, .foto2 img, .foto3 img, .foto4 img, .foto5 img{
    width: 90%;
    box-shadow: 5px 8px 2px #8a673769;
}
.foto1{
    width: 30%;
    order: 1;
    
}
.foto2{
    width: 40%;
    order: 2;
    
}
.foto3{
    width: 30%;
    order: 3;
    
}
.foto4{
    width: 30%;
    order: 4;
    
}
.foto5{
    width: 30%;
    order: 6;
}
.content-info{
    width: 40%;
    order: 5;
    margin: auto;
    justify-content: center;
}
.content-info h2{
    text-align: center;
    font-size: 2em;
}
.content-info p{
    text-align: center;
}
.oscuro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    background-color:var(--color-primario);
}
.imagen{
    width: 50%;
    float: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
}
.imagen img{
    width: 550px;
    height: auto;
}
.content-datos{
    width: 50%;
    padding: 50px;
    margin: auto;
    color:aliceblue;
}
.content-datos h3{
    font-size: 1em;
    padding: 7px;
}
.content-datos h2{
    font-size:2em;
    text-align:left;
}
.btn{
    margin: 10px;
}
.oscuro .boton{
    background-color: var(--color-primario);
    border: 1px solid aliceblue;
}
.oscuro .encendido{
    background-color:aliceblue;
}
.oscuro .encendido a{
    color: var(--color-primario);
}
.content-informacion{
    width: 100%;
    display: flex;
    height:100%;
    justify-content:space-between;
}
.informacion-left{
    width: 100%;
    float: 50%;
    margin: auto;
}
.informacion-left p,h2{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.imagen-right{
    width: 100%;
    float: 50%;
    background-image: url("../img/nubes.png");
}
.imagen-right img{
    width: 100%;
    height:100%;
    float: right;
    margin: 10px 0;
}
.copy{
    /* position: relative;
    top:40px; */
    width: 40%;
    color:var(--purple-dark);
    margin: auto;
}
    @media screen and (max-width:800px) {

    .copy{
        width: 100%;
    }
    .copy h2{
        padding: 10px 0;
    }
}
/*Efectos Hover*/

.btn a:hover{
    color: #101d18;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    transform: scale(1.1, 1.1);
    background-color: aliceblue;
    transition: .5s;
}


/*Diseños responsive*/

@media screen and (max-width:900px){
    .banner h1{
        font-size:3.5em;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    .nav  a{
        font-size: 3.5em;
    }
    .parrafo{
        width: 100%;
        padding:0;
        margin: 25px;
    }
    .parrafo p{
        font-size: 2em;
    }
    .galeria{
        width:100%;
        height: auto;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }
    .foto1, .foto2, .foto3, .foto4, .foto5{
        width: 100%;
    }
    .foto1 img, .foto2 img, .foto3 img, .foto4 img, .foto5 img{
        margin: 15px 10%;
    }
    .foto1 img{
        width: 80%;
        order: 1;
        
    }
    .foto2 img{
        width: 80%;
        order: 2;
        
    }
    .foto3 img{
        width: 80%;
        order: 3;
        
    }
    .foto4 img{
        width: 80%;
        order: 4;
        
    }
    .foto5 img{
        width: 80%;
        order: 5;
    }
    .content-info{
        width: 100%;
        order: 7;
        margin: auto;
        padding: 5%;
        justify-content: center;
    }
    .oscuro{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap:wrap;
        background-color:var(--color-primario);
    }
    .imagen{
        width: 80%;
    }
    .imagen img{
        width:100%;
        /* height:50vh; */
    }
    .informacion-left p{
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
    .content-datos{
        width:100%;
        float: 50%;
        padding:50px;
        margin: auto;
        color:aliceblue;
    }
    .content-datos h2{
    text-align: justify;
    }
    .content-informacion{
        display: flex;
        flex-wrap: wrap;
    }
    .imagen-right{
        width: 100%;
        height:auto;
        float: 50%;
        background-image: url("../img/nubes.png");
        background-size: cover;
    }
    .content-boton{
        padding-bottom:50px;
        margin: 20px 0;
    }

}

